@import 'tailwindcss';

@layer base {
  .theme {
    --font-sans: Geist, sans-serif;
    --font-mono: Geist Mono, monospace;
    --font-serif: Georgia, serif;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  :root {
    --background: oklch(0.99 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(0.99 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0 0 0);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.94 0 0);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.44 0 0);
    --accent: oklch(0.94 0 0);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.63 0.19 23.03);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.92 0 0);
    --input: oklch(0.94 0 0);
    --ring: oklch(0 0 0);
    --chart-1: oklch(0.81 0.17 75.35);
    --chart-2: oklch(0.55 0.22 264.53);
    --chart-3: oklch(0.72 0 0);
    --chart-4: oklch(0.92 0 0);
    --chart-5: oklch(0.56 0 0);
    --sidebar: oklch(0.99 0 0);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --font-serif: Georgia, serif;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.18;
    --shadow-blur: 2px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
    --tracking-normal: 0em;
    --sidebar-background: 0 0% 98%;
  }

  .dark {
    --background: oklch(0 0 0);
    --foreground: oklch(1 0 0);
    --card: oklch(0.14 0 0);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.18 0 0);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(1 0 0);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.25 0 0);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.23 0 0);
    --muted-foreground: oklch(0.72 0 0);
    --accent: oklch(0.32 0 0);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.69 0.2 23.91);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.26 0 0);
    --input: oklch(0.32 0 0);
    --ring: oklch(0.72 0 0);
    --chart-1: oklch(0.81 0.17 75.35);
    --chart-2: oklch(0.58 0.21 260.84);
    --chart-3: oklch(0.56 0 0);
    --chart-4: oklch(0.44 0 0);
    --chart-5: oklch(0.92 0 0);
    --sidebar: oklch(0.18 0 0);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.18;
    --shadow-blur: 2px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
    --sidebar-background: 240 5.9% 10%;
  }

  body {
    letter-spacing: var(--tracking-normal);
    background-color: oklch(var(--background) / 1);
    color: oklch(var(--foreground) / 1);
  }
}
