apiVersion: 1

datasources:
  - name: BitLoot Prometheus
    type: prometheus
    url: http://prometheus:9090
    access: proxy
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
